* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(253, 243, 230);
}

nav {
  display: flex;
  align-items: center;
  padding: 0.65rem 2rem;
}

.logo a {
  letter-spacing: 0.5rem;
  color: #a4775b;
  font-size: 2rem;
}

ul {
  margin: 0 auto;
  display: flex;
  align-items: center;
  list-style-type: none;
  font-weight: bolder;
}

ul li {
  margin-right: 5rem;
}

ul li:last-child {
  margin-right: 0;
}

a {
  text-decoration: none;
}
